<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [5, 5, 0], fov: 45, near:1, far:100 }">

    <ngt-color attach="background" color="black"></ngt-color>

    <ngt-ambient-light></ngt-ambient-light>

    <ngt-physics>
      <ngt-cannon-debug disabled scale="1.1" color="red">

        <tween-example></tween-example>
        <floor></floor>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
