<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [20, 10, 0], fov: 45, near:1, far:100 }"
              [scene]="{ background: 'gray' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics>
      <ngt-cannon-debug [disabled]="true" [scale]="1.1" color="black">

        <raycast-vehicle-model [mass]="0" [position]="[0, 0.5, -3]" [bodycolor]="'red'" [wheelcolor]="'black'" [drive]="true"></raycast-vehicle-model>
        <raycast-vehicle-model [mass]="1" [position]="[0, 0.5, 3]"></raycast-vehicle-model>

        <floor></floor>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
