<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [10, 5, 0], fov: 50, near:1, far:500 }">

    <ngt-color attach="background" color="gray"></ngt-color>

    <ngt-directional-light [args]="['white' , 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics>
      <ngt-cannon-debug disabled scale="1.1" color="red">

        <raycast-vehicle [position]="[0, 2, 0]"
                         [rotation]="[0, -90 | radian, 0]"></raycast-vehicle>

        <floor></floor>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
<div style="color: white; font-size: 1.2em; left: calc(100vw / 2 - 100px); position: absolute; top: 20px;">
  <pre>* ↑←↓→ to drive, space to brake</pre>
</div>
