<div style="height:100vh">
  <ngt-canvas (created)="created($event)" [shadows]="true"
              [camera]="{ position: [6, 2, 0], fov: 45, near:1, far:100 }"
              [scene]="{ background: 'gray' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics>

      <!--floor-->
      <ngt-mesh ngtPhysicPlane
                [receiveShadow]="true" [rotation]="[-90 | radian, 0, 0]">
        <ngt-plane-geometry [args]="[100, 100]"></ngt-plane-geometry>
        <ngt-mesh-standard-material [parameters]="{ color: '#777777' | color }"></ngt-mesh-standard-material>
      </ngt-mesh>

      <!--movement plane-->
      <ngt-mesh #move="ngtMesh" (ready)="moveready(move.mesh)" [visible]="false" [rotation]="[0, 90 | radian, 0]">
        <ngt-plane-geometry [args]="[100, 100]"></ngt-plane-geometry>
        <ngt-mesh-standard-material></ngt-mesh-standard-material>
      </ngt-mesh>

      <ng-container *ngIf="!joined">
        <ngt-mesh #drag="ngtMesh" (ready)="cubeready(drag.mesh)"
                  ngtPhysicBox [getPhysicProps]="getBoxProps"
                  [castShadow]="true">
          <ngt-box-geometry></ngt-box-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'white' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>
      </ng-container>

      <ng-container *ngIf="joined" ngtPhysicPointToPointConstraint [options]="options">
        <!--cube that's dragged-->
        <ngt-mesh ngtPhysicBox [getPhysicProps]="getBoxProps" [castShadow]="true">
          <ngt-box-geometry></ngt-box-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'blue' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

        <!--marker-->
        <ngt-mesh ngtPhysicSphere [position]="position" [scale]="0.2">
          <ngt-sphere-geometry></ngt-sphere-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'red' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>
      </ng-container>

    </ngt-physics>

    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
