<div style="height:100vh">
  <ngt-canvas (created)="created($event)" [shadows]="true"
              [camera]="{ position: [16, 4, 0], fov: 65, near:1, far:100 }"
              [scene]="{ background: 'gray' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics>
      <ngt-cannon-debug [disabled]="true" [scale]="1.1" color="black">

        <!--movement plane-->
        <ngt-mesh #move (ready)="moveready(move.instance.value)" [visible]="false" [rotation]="[0, 90 | radian, 0]">
          <ngt-plane-geometry [args]="[100, 100]"></ngt-plane-geometry>
          <ngt-mesh-standard-material></ngt-mesh-standard-material>
        </ngt-mesh>

        <ng-container *ngIf="!isDragging">
          <ngt-mesh #drag (ready)="cubeready(drag.instance.value)"
                    [ref]="boxProps.ref"
                    [castShadow]="true">
            <ngt-box-geometry></ngt-box-geometry>
            <ngt-mesh-standard-material [parameters]="{ color: 'white' | color }"></ngt-mesh-standard-material>
          </ngt-mesh>
        </ng-container>

        <ng-container *ngIf="isDragging" >
          <!--cube that's dragged-->
          <ngt-mesh [ref]="boxProps.ref"
                    [castShadow]="true">
            <ngt-box-geometry></ngt-box-geometry>
            <ngt-mesh-standard-material [parameters]="{ color: 'blue' | color }"></ngt-mesh-standard-material>
          </ngt-mesh>

          <!--marker-->
          <ngt-mesh [ref]="sphereProps.ref" 
                    [position]="position">
            <ngt-sphere-geometry [args]="[sphereRadius]"></ngt-sphere-geometry>
            <ngt-mesh-standard-material [parameters]="{ color: 'red' | color }"></ngt-mesh-standard-material>
          </ngt-mesh>
        </ng-container>

        <!--floor-->
        <floor></floor>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
