<div style="height:100vh">
  <ngt-canvas (created)="created($event)" [shadows]="true"
              [camera]="{ position: [16, 4, 0], fov: 65, near:1, far:100 }"
              [scene]="{ background: 'gray' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics>
      <ngt-cannon-debug [disabled]="true" [scale]="1.1" color="black">

        <mousepick-example [camera]="camera"></mousepick-example>
        <floor></floor>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
