<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [10, 20, 0], fov: 45, near:1, far:100 }"
              [scene]="{ background: 'gray' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics [gravity]="[0, 0, 0]">
      <!--Center Impulse-->
      <ngt-mesh [ref]="ci.ref" [castShadow]="true" [position]="[-6, 0, 0]">
        <ngt-sphere-geometry></ngt-sphere-geometry>
        <ngt-mesh-standard-material [parameters]="{ color: 'red' | color }"></ngt-mesh-standard-material>
      </ngt-mesh>

      <!--Top Impulse-->
      <ngt-mesh [ref]="ti.ref" [castShadow]="true" [position]="[-4, 0, 0]">
        <ngt-sphere-geometry></ngt-sphere-geometry>
        <ngt-mesh-standard-material [parameters]="parameters"></ngt-mesh-standard-material>
      </ngt-mesh>

      <!--Center Force-->
      <ngt-mesh [ref]="cf.ref" [castShadow]="true" [position]="[-2, 0, 0]">
        <ngt-sphere-geometry></ngt-sphere-geometry>
        <ngt-mesh-standard-material [parameters]="{ color: 'blue' | color }"></ngt-mesh-standard-material>
      </ngt-mesh>

      <!--Top Force-->
      <ngt-mesh [ref]="tf.ref" [castShadow]="true" [position]="[0, 0, 0]">
        <ngt-sphere-geometry></ngt-sphere-geometry>
        <ngt-mesh-standard-material [parameters]="parameters"></ngt-mesh-standard-material>
      </ngt-mesh>

      <!--Local Force-->
      <ngt-mesh [ref]="sphereLocalProps.ref" [castShadow]="true" [position]="[2, 0, 0]">
        <ngt-sphere-geometry></ngt-sphere-geometry>
        <ngt-mesh-standard-material [parameters]="parameters"></ngt-mesh-standard-material>
      </ngt-mesh>

      <!--Torque-->
      <ngt-mesh [ref]="torque.ref"  [castShadow]="true" [position]="[4, 0, 0]">
        <ngt-sphere-geometry></ngt-sphere-geometry>
        <ngt-mesh-standard-material [parameters]="parameters"></ngt-mesh-standard-material>
      </ngt-mesh>

    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
