<!--sphere / compound-->
<ngt-mesh [ref]="sphere1Props.ref" castShadow>
  <ngt-sphere-geometry></ngt-sphere-geometry>
  <ngt-mesh-standard-material color='white'></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-group [ref]="boxCompound1Props.ref" >
  <ngt-mesh *ngFor="let position of cubes" [position]="position" [scale]="cubesize" castShadow>
    <ngt-box-geometry></ngt-box-geometry>
    <ngt-mesh-standard-material color='blue'></ngt-mesh-standard-material>
  </ngt-mesh>
</ngt-group>

<!--sphere / convex-->
<ngt-mesh [ref]="sphere2Props.ref" castShadow>
  <ngt-sphere-geometry></ngt-sphere-geometry>
  <ngt-mesh-standard-material color='red'></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh [ref]="tetraProps.ref"
          castShadow [scale]="[tetrascale, this.tetrascale, this.tetrascale]">
  <ngt-polyhedron-geometry [args]="[tetrageovertices, tetrageofaces]"></ngt-polyhedron-geometry>
  <ngt-mesh-standard-material color='blue'></ngt-mesh-standard-material>
</ngt-mesh>

<!--box / compound-->
<ngt-mesh [ref]="boxProps.ref"
          castShadow [scale]="[cubesize, cubesize, cubesize]" >
  <ngt-box-geometry></ngt-box-geometry>
  <ngt-mesh-standard-material color='white'></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-group [ref]="boxCompound2Props.ref">
  <ngt-mesh *ngFor="let position of cubes" [position]="position" [scale]="cubesize" castShadow>
    <ngt-box-geometry></ngt-box-geometry>
    <ngt-mesh-standard-material color='blue'></ngt-mesh-standard-material>
  </ngt-mesh>
</ngt-group>
