<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [10, 2, 0], fov: 45, near:1, far:100 }">

    <ngt-color attach="background" color="black"></ngt-color>

    <ngt-directional-light [args]="['white' , 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics [gravity]="[0, 0, 0]">

      <ngt-cannon-debug disabled scale="1.1" color="red">

        <collisionfilter-example></collisionfilter-example>

      </ngt-cannon-debug>

    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
