<!--it can only collide with group 2 and 3-->
<ngt-mesh physicsSphere sphereMass="1" [sphereVelocity]="[0, 0, -2]" [collisionFilterMask]="filterMask"
          [position]="[0, 0, 3]" castShadow>
  <ngt-sphere-geometry [args]="[0.5]"></ngt-sphere-geometry>
  <ngt-mesh-standard-material color="red"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh physicsBox boxMass="1" boxLinearDamping="0.1" castShadow
          collisionFilterGroup="2" collisionFilterMask="1">
  <ngt-box-geometry></ngt-box-geometry>
  <ngt-mesh-standard-material color="white"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh [ref]="cylinderProps.ref" castShadow>
  <ngt-cylinder-geometry [args]="[0.5, 0.5, 1, 20]"></ngt-cylinder-geometry>
  <ngt-mesh-standard-material color="blue"></ngt-mesh-standard-material>
</ngt-mesh>
