<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [10, 2, 0], fov: 45, near:1, far:100 }"
              [shadows]="true"
              [scene]="{ background: 'gray' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>


    <ngt-physics>
      <ngt-cannon-debug [disabled]="true" [scale]="1.1" color="red">

        <ngt-mesh ngtPhysicPlane [name]="'plane'"
                  [receiveShadow]="true" [rotation]="[-90 | radian, 0, 0]">
          <ngt-plane-geometry [args]="[100, 100]"></ngt-plane-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: '#777777' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

        <ngt-box-geometry #box="ngtBoxGeometry" (ready)="ready(box)"></ngt-box-geometry>

        <ngt-mesh ngtPhysicConvexPolyhedron [getPhysicProps]="getTetraProps"
                  [rotation]="[10 | radian, 0, 0]" [position]="[3, 1.5, 3]"
                  [castShadow]="true">
          <ngt-polyhedron-geometry [args]="[tetrageovertices, tetrageofaces]"></ngt-polyhedron-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'white' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

        <ngt-mesh ngtPhysicConvexPolyhedron [getPhysicProps]="getTetraProps"
                  [rotation]="[10 | radian, 0, 0]" [position]="[3, 3, 3]"
                  [castShadow]="true">
          <ngt-polyhedron-geometry [args]="[tetrageovertices, tetrageofaces]"></ngt-polyhedron-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'white' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

        <ngt-mesh ngtPhysicConvexPolyhedron [getPhysicProps]="getConvexBoxProps"
                  [rotation]="[10 | radian, 0, 0]" [position]="[0, 1.5, 1]"
                  [castShadow]="true" [geometry]="box.geometry">
          <ngt-mesh-standard-material [parameters]="{ color: 'orange' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

        <!--<ngt-mesh ngtPhysicBox [getPhysicProps]="getBoxProps"
                  [rotation]="[10 | radian, 0, 0]" [position]="[0, 1.5, -1]"
                  [castShadow]="true" [geometry]="box.geometry">
          <ngt-mesh-standard-material [parameters]="{ color: 'red' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>-->

        <ngt-mesh ngtPhysicCylinder [getPhysicProps]="getCylinderProps"
                  [rotation]="[90 | radian, 0, 0]" [position]="[0, 5, 0]"
                  [castShadow]="true">
          <ngt-cylinder-geometry [args]="[0.5, 0.5, 2, 20]"></ngt-cylinder-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'red' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

        <!--convex on convex-->
        <ngt-mesh ngtPhysicConvexPolyhedron [getPhysicProps]="getConvexBoxProps"
                  [rotation]="[10 | radian, 0, 0]" [position]="[3, 1.5, 0]"
                  [castShadow]="true" [geometry]="box.geometry">
          <ngt-mesh-standard-material [parameters]="{ color: 'orange' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>
        <ngt-mesh ngtPhysicConvexPolyhedron [getPhysicProps]="getConvexBoxProps"
                  [rotation]="[10 | radian, 0, 0]" [position]="[3, 3, 0]"
                  [castShadow]="true" [geometry]="box.geometry">
          <ngt-mesh-standard-material [parameters]="{ color: 'orange' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

        <!--convex wall-->
        <ngt-mesh *ngFor="let position of wall" ngtPhysicConvexPolyhedron [getPhysicProps]="getConvexBoxProps"
                  [position]="position"
                  [castShadow]="true" [geometry]="box.geometry">
          <ngt-mesh-standard-material [parameters]="{ color: 'blue' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
