<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [20, 0, 0], fov: 45, near:1, far:100 }"
              [shadows]="true"
              [scene]="{ background: 'black' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics>


      <ngt-mesh #moon="ngtPhysicSphere" ngtPhysicSphere [getPhysicProps]="getMoonProps"
                [position]="[0, 0, 10]"
                [receiveShadow]="true" [castShadow]="true">
        <ngt-sphere-geometry [args]="[0.5]"></ngt-sphere-geometry>
        <ngt-mesh-standard-material [parameters]="{ color: 'gray' | color }"></ngt-mesh-standard-material>
      </ngt-mesh>

      <ngt-mesh ngtPhysicSphere [getPhysicProps]="getPlanetProps"
                [receiveShadow]="true" [castShadow]="true">
        <ngt-sphere-geometry [args]="[3.5]"></ngt-sphere-geometry>
        <ngt-mesh-standard-material [parameters]="{ color: 'blue' | color }"></ngt-mesh-standard-material>
      </ngt-mesh>

    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
