<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [20, 10, 20], fov: 30, near:0.5, far:10000 }"
              [shadows]="true" [scene]="{ background: 'black' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics>

      <ngt-instanced-mesh (ready)="ready()"
                          [ref]="cubeProps.ref" [count]="count">
        <ngt-box-geometry></ngt-box-geometry>
        <ngt-mesh-standard-material [parameters]="{ color: '#888888' | color }"></ngt-mesh-standard-material>
      </ngt-instanced-mesh>

      <floor></floor>

    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
