<!--RaycastVehicle-->
<ngt-mesh [ref]="bodyProps.ref" [position]="bodyposition">
  <ngt-box-geometry [args]="bodyArgs"></ngt-box-geometry>
  <ngt-mesh-standard-material [parameters]="{ color: bodycolor}"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh [ref]="wheelProps.ref" [position]="leftfrontposition">
  <ngt-cylinder-geometry [args]="wheelArgs"></ngt-cylinder-geometry>
  <ngt-mesh-standard-material [parameters]="{ color: wheelcolor}"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh [ref]="wheelProps.ref" [position]="rightfrontposition">
  <ngt-cylinder-geometry [args]="wheelArgs"></ngt-cylinder-geometry>
  <ngt-mesh-standard-material [parameters]="{ color: wheelcolor}"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh [ref]="wheelProps.ref" [position]="leftbackposition">
  <ngt-cylinder-geometry [args]="wheelArgs"></ngt-cylinder-geometry>
  <ngt-mesh-standard-material [parameters]="{ color: wheelcolor}"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh [ref]="wheelProps.ref" [position]="rightbackposition">
  <ngt-cylinder-geometry [args]="wheelArgs"></ngt-cylinder-geometry>
  <ngt-mesh-standard-material [parameters]="{ color: wheelcolor}"></ngt-mesh-standard-material>
</ngt-mesh>

