<ngt-mesh [ref]="chassis.ref">
  <ngt-box-geometry [args]="bodyArgs"></ngt-box-geometry>
  <ngt-mesh-standard-material [color]="bodycolor"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh [ref]="leftFrontWheel.ref">
  <ngt-cylinder-geometry [args]="wheelArgs"></ngt-cylinder-geometry>
  <ngt-mesh-standard-material [color]="wheelcolor"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh [ref]="rightFrontWheel.ref">
  <ngt-cylinder-geometry [args]="wheelArgs"></ngt-cylinder-geometry>
  <ngt-mesh-standard-material [color]="wheelcolor"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh [ref]="leftRearWheel.ref">
  <ngt-cylinder-geometry [args]="wheelArgs"></ngt-cylinder-geometry>
  <ngt-mesh-standard-material [color]="wheelcolor"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-mesh [ref]="rightRearWheel.ref">
  <ngt-cylinder-geometry [args]="wheelArgs"></ngt-cylinder-geometry>
  <ngt-mesh-standard-material [color]="wheelcolor"></ngt-mesh-standard-material>
</ngt-mesh>

