<div style="height:100vh">
  <ngt-canvas shadows [camera]="{ position: [20, 10, 0] }">
    <ngt-color attach="background" color="darkgray"></ngt-color>

    <ngt-directional-light [position]="[20, 20, 0]" castShadow></ngt-directional-light>

    <ngt-physics [iterations]="20">
      <ngt-cannon-debug disabled scale="1.1" color="red">

        <constraints-example></constraints-example>
        <floor></floor>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
