<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [10, 2, 0], fov: 45, near:1, far:100 }"
              [scene]="{ background: 'gray' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics>
      <ngt-cannon-debug [disabled]="false" [scale]="1.1" color="red">

        <!--lock-->
        <ng-container ngtPhysicLockConstraint>
          <ngt-mesh *ngFor="let position of lockcubes" ngtPhysicBox [getPhysicProps]="getLockProps"
                    [position]="position" [castShadow]="true">
            <ngt-box-geometry></ngt-box-geometry>
            <ngt-mesh-standard-material></ngt-mesh-standard-material>
          </ngt-mesh>
        </ng-container>

        <!--stands, static 0 mass-->
        <ngt-mesh ngtPhysicBox [position]="leftstand" [castShadow]="true">
          <ngt-box-geometry></ngt-box-geometry>
          <ngt-mesh-standard-material></ngt-mesh-standard-material>
        </ngt-mesh>
        <ngt-mesh ngtPhysicBox [position]="rightstand" [castShadow]="true">
          <ngt-box-geometry></ngt-box-geometry>
          <ngt-mesh-standard-material></ngt-mesh-standard-material>
        </ngt-mesh>


        <!--link-->
        <ng-container ngtPhysicPointToPointConstraint>
          <ngt-mesh *ngFor="let item of linkcubes" ngtPhysicBox [getPhysicProps]="item.props"
                    [position]="item.position" [scale]="linkscale" [castShadow]="true">
            <ngt-box-geometry></ngt-box-geometry>
            <ngt-mesh-standard-material></ngt-mesh-standard-material>
          </ngt-mesh>
        </ng-container>


        <ngt-mesh ngtPhysicPlane
                  [receiveShadow]="true" [rotation]="[-90 | radian, 0, 0]">
          <ngt-plane-geometry [args]="[100, 100]"></ngt-plane-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: '#777777' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
