<!--lock-->
<ngt-mesh *ngFor="let body of lockcubes" [ref]="body.ref" castShadow>
  <ngt-box-geometry></ngt-box-geometry>
  <ngt-mesh-standard-material color="red"></ngt-mesh-standard-material>
</ngt-mesh>

<!--stands, static 0 mass-->
<ngt-mesh physicsBox [position]="leftstand" castShadow>
  <ngt-box-geometry></ngt-box-geometry>
  <ngt-mesh-standard-material></ngt-mesh-standard-material>
</ngt-mesh>
<ngt-mesh physicsBox [position]="rightstand" castShadow>
  <ngt-box-geometry></ngt-box-geometry>
  <ngt-mesh-standard-material></ngt-mesh-standard-material>
</ngt-mesh>


<!--link-->
<ngt-mesh *ngFor="let body of linkcubes; index as i" [ref]="body.ref" [scale]="linkscale" castShadow>
  <ngt-box-geometry></ngt-box-geometry>
  <ngt-mesh-standard-material [color]="i==0 ? 'white' : 'red'"></ngt-mesh-standard-material>
</ngt-mesh>


<!--sphere pendulum-->
<ngt-mesh [position]="pentopposition" castShadow
          #pendulumtop="physicsSphere" physicsSphere>
  <ngt-sphere-geometry [args]="[pendulumsize]"></ngt-sphere-geometry>
  <ngt-mesh-standard-material color="white"></ngt-mesh-standard-material>
</ngt-mesh>
<ngt-mesh [position]="penbottomposition" castShadow
          #pendulumbottom="physicsSphere" physicsSphere sphereMass="1"
          sphereLinearDamping="0" sphereAngularDamping="0"
          [sphereVelocity]="[0, 0, -5]">
  <ngt-sphere-geometry [args]="[pendulumsize]"></ngt-sphere-geometry>
  <ngt-mesh-standard-material color="red"></ngt-mesh-standard-material>
</ngt-mesh>


<!--sphere chain-->
<ngt-mesh *ngFor="let body of chainspheres; index as i" [ref]="body.ref" castShadow>
  <ngt-sphere-geometry [args]="[chainlinksize]"></ngt-sphere-geometry>
  <ngt-mesh-standard-material [color]="i==0 ? 'white' : 'red'"></ngt-mesh-standard-material>
</ngt-mesh>


<!--cloth-->
<ngt-mesh *ngFor="let body of cloth" [ref]="body.ref" castShadow>
  <ngt-sphere-geometry [args]="[0.15]"></ngt-sphere-geometry>
  <ngt-mesh-standard-material color="red"></ngt-mesh-standard-material>
</ngt-mesh>
