<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [4, 0, 4], fov: 55, near:1, far:1000 }"
              shadows
              [scene]="{ background: 'black' | color }">

    <ngt-spot-light [position]="[10,10,10]"></ngt-spot-light>
    <ngt-spot-light [position]="[-10,10,-10]"></ngt-spot-light>

    <ngt-physics>
      <ngt-cannon-debug disabled scale="1.1" color="red">

        <cloth-example></cloth-example>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
