<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [20, 20, 20], fov: 40, near:0.5, far:10000 }" shadows>

    <ngt-color attach="background" color="black"></ngt-color>

    <ngt-directional-light [args]="['white' , 1.75]"
                           [position]="[100, 100, 100]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics [gravity]="[0, -100, 0]">

      <performance-example></performance-example>
      <floor></floor>

    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
