<div style="height:100vh">
  <ngt-canvas (created)="created($event)" [vr]="vr"
              [shadows]="true"
              [gl]="{ alpha: false }"
              [camera]="{ position: [-1, 5, 5], fov: 45 }"
              [scene]="{ background: 'lightblue' | color }">
    <ngt-ambient-light></ngt-ambient-light>
    <ngt-directional-light [position]="[10, 10, 10]" [castShadow]="true">
    </ngt-directional-light>

    <!--
    //
    // Summary of ngt-physics properites here
    // https://github.com/IRobot1/angular-three-examples/wiki/Ngt-Physics
    // [allowSleep]="false"  [quatNormalizeSkip]="5" [quatNormalizeFast]="true"
    -->
    <ngt-physics [gravity]="[0, gravity, 0] " [step]="step" [defaultContactMaterial]="concrete">
      <ngt-cannon-debug [disabled]="true" [scale]="1.1" color="black">

        <storybook-plane [position]="[0, 0, 0]"></storybook-plane>
        <trigger-cube [position]="[-3,2.5,0]" (trigger)="message=$event"></trigger-cube>
        <storybook-cube *ngFor="let cube of cubes" [name]="cube.name" [position]="[0,cube.position.y,cube.position.z]" [scale]="scale"></storybook-cube>

        <app-xr-controller *ngIf="vr"></app-xr-controller>
        <ngt-mesh *ngIf="vr" ngtPhysicBox [name]="'table'" [receiveShadow]="true" [position]="[0,0.5,0.5]">
          <ngt-box-geometry></ngt-box-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'gray' }"></ngt-mesh-standard-material>
        </ngt-mesh>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>

    <ngt-soba-text [text]="'Physics world'"
                   [castShadow]="true"
                   [color]="'red'"
                   [fontSize]="1"
                   font="https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vaqI.woff"
                   anchorY="bottom"
                   [rotation]="[-30 | radian, 0, 0]"
                   [position]="[0,0,-4]">

    </ngt-soba-text>

    <ngt-group [rotation]="[0, 90 | radian, 0]" [position]="[-3,0,0]">

      <ngt-soba-text [text]="message"
                     [castShadow]="true"
                     [color]="'red'"
                     [maxWidth]="8"
                     [fontSize]="0.5"
                     font="https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vaqI.woff"
                     anchorX="center"
                     anchorY="bottom"
                     [rotation]="[-30 | radian, 0, 0]">
      </ngt-soba-text>
    </ngt-group>

    <ngt-stats *ngIf="vr"></ngt-stats>
  </ngt-canvas>
</div>
