<div style="height:100vh">
  <ngt-canvas [shadows]="true"
              [gl]="{ alpha: false }"
              [camera]="{ position: [-1, 5, 5], fov: 45 }"
              [scene]="{ background: 'lightblue' | color }">
    <ngt-ambient-light></ngt-ambient-light>
    <ngt-directional-light [position]="[10, 10, 10]"
                           [castShadow]="true"
                           [shadow]="{ mapSize: [2048, 2048] | vector2 }"></ngt-directional-light>

    <ngt-physics [allowSleep]="true">
      <ngt-cannon-debug>
        <storybook-plane [position]="[0, -2.5, 0]"></storybook-plane>
        <storybook-cube [name]="'cube1'" [position]="[0.1, 5, 0]"></storybook-cube>
        <storybook-cube [name]="'cube2'" [position]="[0, 10, -1]"></storybook-cube>
        <storybook-cube [name]="'cube3'" [position]="[0, 20, -2]"></storybook-cube>
      </ngt-cannon-debug>
    </ngt-physics>
  </ngt-canvas>
</div>
