<div style="height:100vh">
  <ngt-canvas [scene]="{ background: '#505050' | color }"
              [camera]="{ fov: 50, position: [5, 5, 5]}">
    <ngt-hemisphere-light [args]="['#606060', '#404040']"></ngt-hemisphere-light>

    <ngt-physics>
      <ngt-mesh ngtPhysicBox
                [getPhysicProps]="getCubeProps"
                [position]="position"
                [rotation]="rotation">
        <ngt-box-geometry></ngt-box-geometry>
        <ngt-mesh-basic-material [parameters]="{ color: 'tomato' }"></ngt-mesh-basic-material>
      </ngt-mesh>
    </ngt-physics>
  </ngt-canvas>
</div>
