<div style="margin:1rem">
  <h1>@angluar-three/cannon Examples</h1>

  <h2>
    3D physics engine for Angular using
    <a href="https://github.com/pmndrs/cannon-es" target="_blank" title="View source code for cannon-es on GitHub">
      cannon-es
    </a>
  </h2>

  <h2>Working Examples</h2>
  <div class="examples">
    <div *ngFor="let name of examples">
      <a [routerLink]="['/', name]" class="image"><img src="assets/screenshots/{{name}}.png" /></a>
      <div class="caption">
        <a href="{{name}}" class="name">{{name}}</a>
        <a href="https://github.com/IRobot1/ng3-cannon-template/tree/master/src/app/examples/{{name}}/{{name}}.component.ts"
           target="_blank"
           class="github"
           title="View source code on GitHub">
          <img src="assets/github.svg" alt="GitHub" />
        </a>
      </div>
    </div>
  </div>

  <h2>Almost Working</h2>
  <div class="examples">
    <div *ngFor="let name of almost">
      <a [routerLink]="['/', name]" class="image"><img src="assets/screenshots/{{name}}.png" /></a>
      <div class="caption">
        <a href="{{name}}" class="name">{{name}}</a>
        <a href="https://github.com/IRobot1/ng3-cannon-template/tree/master/src/app/examples/{{name}}/{{name}}.component.ts"
           target="_blank"
           class="github"
           title="View source code on GitHub">
          <img src="assets/github.svg" alt="GitHub" />
        </a>
      </div>
    </div>
  </div>

  <h2>Missing Features in @angular-three/cannon </h2>
  <div class="examples">
    <div *ngFor="let name of feature">
      <a [routerLink]="['/', name]" class="image"><img src="assets/screenshots/{{name}}.png" /></a>
      <div class="caption">
        <a href="{{name}}" class="name">{{name}}</a>
        <a href="https://github.com/IRobot1/ng3-cannon-template/tree/master/src/app/examples/{{name}}/{{name}}.component.ts"
           target="_blank"
           class="github"
           title="View source code on GitHub">
          <img src="assets/github.svg" alt="GitHub" />
        </a>
      </div>
    </div>
  </div>

  <h2>To Do</h2>
  <div class="examples">
    <div *ngFor="let name of todo">
      <a [routerLink]="['/', name]" class="image"><img src="assets/screenshots/{{name}}.png" /></a>
      <div class="caption">
        {{name}}
      </div>
    </div>
  </div>

</div>
