<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [45, 20, 0], fov: 45, near:1, far:250 }"
              [shadows]="true"
              [scene]="{ background: 'gray' | color }">
    <ngt-spot-light [args]="['white' | color]" [castShadow]="true"
                    [position]="[50, 50, 0]" [rotation]="[90 | radian, -45 | radian, 0]">
      <ngt-arrow-helper [scale]="2"></ngt-arrow-helper>
    </ngt-spot-light>


    <ngt-physics [allowSleep]="true" [defaultContactMaterial]="stone" [quatNormalizeFast]="true" [quatNormalizeSkip]="3">

      <ngt-cannon-debug disabled scale="1.1" color="red">

        <container-example></container-example>
        <floor></floor>

      </ngt-cannon-debug>

    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
