<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [30, 40, 0], fov: 45, near:1, far:250 }"
              [shadows]="true"
              [scene]="{ background: 'gray' | color }">

    <ngt-spot-light [args]="['white' | color]" castShadow 
                    [position]="[50, 50, 0]" [rotation]="[90 | radian, -45 | radian, 0]"
                    ngtSpotLightHelper [helperVisible]="showhelper">
    </ngt-spot-light>

    <ngt-physics [quatNormalizeFast]="true" [quatNormalizeSkip]="3">

      <ngt-cannon-debug disabled scale="1.1" color="red">

        <pile-example></pile-example>
        <floor></floor>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
