<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [20, 3, 0], fov: 25, near:1, far:100 }"
              [scene]="{ background: 'black' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>


    <ngt-physics>

      <ngt-cannon-debug [disabled]="true" [scale]="1.1" color="red">

        <ngt-mesh ngtPhysicPlane [getPhysicProps]="getPlaneProps"
                  [receiveShadow]="true" [rotation]="[-90 | radian, 0, 0]">
          <ngt-plane-geometry [args]="[100, 100]"></ngt-plane-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: '#777777' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

        <ngt-mesh ngtPhysicBox [getPhysicProps]="getFixedBoxProps" [position]="[0, 2, 1]" [castShadow]="true">
          <ngt-box-geometry></ngt-box-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'red' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

        <ngt-mesh ngtPhysicBox [getPhysicProps]="getSlipperyBoxProps" [position]="[0, 2, -1]"  [castShadow]="true">
          <ngt-box-geometry></ngt-box-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'blue' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

      </ngt-cannon-debug>

    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
