<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [10, 4, 0], fov: 45, near:1, far:100 }"
              [shadows]="true"
              [scene]="{ background: 'gray' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[10, 10, 10]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics>
      <ngt-cannon-debug disabled scale="1.1" color="red">

        <bodytypes-example></bodytypes-example>
        <floor></floor>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
