<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [30, 2, 0], fov: 50, near:1, far:100 }">

    <ngt-color attach="background" color="gray"></ngt-color>

    <ngt-directional-light [args]="['white' , 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics [iterations]="iterations">
      <ngt-cannon-debug disabled scale="1.1" color="red">

        <tear-example></tear-example>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
