<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [30, 2, 0], fov: 50, near:1, far:100 }"
              [scene]="{ background: 'gray' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics [iterations]="iterations">
      <ngt-cannon-debug [disabled]="true" [scale]="1.1" color="black">

        <ngt-mesh *ngFor="let item of linkspheres" ngtPhysicSphere [getPhysicProps]="item.props"
                  [position]="item.position" [castShadow]="true">
          <ngt-sphere-geometry [args]="[size]"></ngt-sphere-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'white' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

        <ngt-mesh ngtPhysicSphere [getPhysicProps]="getThrowBallProps"
                  [position]="[0, 3, 20]" [castShadow]="true">
          <ngt-sphere-geometry [args]="[size]"></ngt-sphere-geometry>
          <ngt-mesh-standard-material [parameters]="{ color: 'red' | color }"></ngt-mesh-standard-material>
        </ngt-mesh>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
