<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [20, 10, 0], fov: 45, near:1, far:100 }"
              [scene]="{ background: 'gray' | color }">
    <ngt-directional-light [args]="['white' | color, 1.75]"
                           [position]="[20, 20, 20]" [castShadow]="true">
    </ngt-directional-light>

    <ngt-physics>
      <ngt-cannon-debug [disabled]="true" [scale]="1.1" color="red">

          <!--static-->
          <ngt-mesh [ref]="staticProps.ref"
                    [position]="[0, size, 0]" [scale]="scale" [castShadow]="true">
            <ngt-box-geometry></ngt-box-geometry>
            <ngt-mesh-standard-material></ngt-mesh-standard-material>
          </ngt-mesh>

          <!--hinge-->
          <ngt-mesh [ref]="hingeProps.ref"
                    [position]="[0, size/2-1, 0]" [scale]="scale" [castShadow]="true" [rotation]="[0, 0, 20 | radian]">
            <ngt-box-geometry></ngt-box-geometry>
            <ngt-mesh-standard-material></ngt-mesh-standard-material>
          </ngt-mesh>

        <floor></floor>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
