<trigger-cube [position]="[-3,2.5,0]" (trigger)="message=$event"></trigger-cube>
<storybook-cube *ngFor="let cube of cubes" [name]="cube.name" [position]="[0,cube.position.y,cube.position.z]" [scale]="scale"></storybook-cube>

<app-xr-bat *ngIf="vr && xrmode=='bat'"></app-xr-bat>
<app-xr-inspect *ngIf="vr && xrmode=='inspect'"></app-xr-inspect>

<ngt-mesh *ngIf="vr" [name]="'table'" [ref]="boxProps.ref" [receiveShadow]="true" [position]="[0,0.5,0.5]">
  <ngt-box-geometry></ngt-box-geometry>
  <ngt-mesh-standard-material [parameters]="{ color: 'gray' }"></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-group [rotation]="[0, 90 | radian, 0]" [position]="[-3,0,0]">

  <ngt-soba-text [text]="message"
                 [castShadow]="true"
                 [color]="'red'"
                 [maxWidth]="8"
                 [fontSize]="0.5"
                 font="https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vaqI.woff"
                 anchorX="center"
                 anchorY="bottom"
                 [rotation]="[-30 | radian, 0, 0]">
  </ngt-soba-text>
</ngt-group>

