<div style="height:100vh">
  <ngt-canvas (created)="created($event)"
              [shadows]="true"
              [gl]="{ alpha: false }"
              [camera]="{ position: [-1, 5, 5], fov: 45 }"
              [scene]="{ background: 'lightblue' | color }">
    <ngt-ambient-light></ngt-ambient-light>
    <ngt-directional-light [position]="[10, 10, 10]" [castShadow]="true">
    </ngt-directional-light>

    <!--
    //
    // Summary of ngt-physics properites here
    // https://github.com/IRobot1/angular-three-examples/wiki/Ngt-Physics
    // [allowSleep]="false"  [quatNormalizeSkip]="5" [quatNormalizeFast]="true"
    -->

    <ngt-physics [allowSleep]="false" [gravity]="[0, gravity, 0]" [defaultContactMaterial]="concrete" [stepSize]="step">
      <ngt-cannon-debug [disabled]="true" [scale]="1.1" color="black">

        <vr-example [vr]="vr" [scale]="scale" [startheight]="startheight" [recycle]="recycle"></vr-example>
        <floor></floor>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>

    <ngt-soba-text [text]="'Physics world'"
                   [castShadow]="true"
                   [color]="'red'"
                   [fontSize]="1"
                   font="https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vaqI.woff"
                   anchorY="bottom"
                   [rotation]="[-30 | radian, 0, 0]"
                   [position]="[0,0,-4]">

    </ngt-soba-text>

    <ngt-stats *ngIf="vr"></ngt-stats>
  </ngt-canvas>
</div>
