<div style="height:100vh">
  <ngt-canvas [camera]="{ position: [0, 0, 3], fov: 45, near:1, far:100 }"
              [scene]="{ background: 'gray' | color }">
    <ngt-ambient-light></ngt-ambient-light>

    <ngt-physics [gravity]="[0, 0, 0]">
      <ngt-cannon-debug disabled scale="1.1" color="red">

        <threejs-example></threejs-example>

      </ngt-cannon-debug>
    </ngt-physics>

    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
    <ngt-stats></ngt-stats>
  </ngt-canvas>
</div>
